* {
    font-family: Comic Sans MS;
}

th,
tr,
td {
    border: 2px #008CBA solid;
    padding: 1em;
    margin: 10%;
}

h2 {
    text-align: center;
    background-color: #008CBA;
    font-size: 30pt;
    height: 80px;
    padding-top: .5em;
    color: white;
}

table {
    display: inline;
    border-collapse: collapse;
}

th,
td {
    margin: 0em;
}

th {
    background-color: #008CBA;
}

thead {
    text-align: left;
}

.thead {
    color: white;
    width: 10em;
}

.coluna {
    color: white;
    width: 30em;
}

.item {
    text-align: left;
}

#bloco {
    width: auto;
    display: block;
    position: center;
    margin-left: 20%;
    margin-right: 20%;
}

.campo {
    margin: 0;
    padding-bottom: 1em;
    width: 100%;
    border: 2px solid #ccc;
    padding: .7em;
    width: 100%;
    border-radius: 20px;
}

label {
    color: #555;
    display: block;
    margin-bottom: .2em;
    padding-left: 1em;
}

.grupo {
    margin-right: 1em;
    width: 20%;
    display: inline-block;
    padding: 1em 0em;
}

/*BOTÃO*/
#cadastrar {
    padding: 1em;
    font-size: 14pt;
    margin-left: 1em;
    color: #008CBA;
    background-color: white;
    border-radius: 40px;
    transition-duration: .4s;
    text-align: center;
    border: #008CBA solid;
    text-decoration: none;
}

#cadastrar:hover {
    color: white;
    background-color: #008CBA;
    cursor: hand;
}


/*CSS pra arrumar o R$*/
.moeda {
    border-left: 2px #008CBA solid;
    border-right: 0px;
    color: #008CBA;
    padding-right: 0em;
    width: 1.5em;
}

 .pTotal,
.pUnitario {
    border: none;
    padding-left: 0;
}

/*BOTAO DELETE/CONFIRM*/
.button-confirm {
    width: 2em;
    text-align: center;
    color: black;
    transition: .2s;
}

.button-confirm:hover {
    cursor: hand;
    color: white;
    background-color: #4CAF50;
}

.button-delete {
    width: 2em;
    text-align: center;
    color: black;
    transition: .2s;
}

.button-delete:hover {
    cursor: hand;
    color: white;
    background-color: #f44336;
}
.fadeOut{
    opacity: 0;
    transition: .2s;
}